<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=586728&auto=1&height=66"></iframe> -->
<div id="disqus_thread"></div>
{% if page.comments %}
<script>
var disqus_config = function () {
this.page.url = "https://mikiya1991.github.io{{ page.url  }}";
this.page.identifier = "{{ page.title }}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//skystation.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
