<style>
	.bg-1{
		background-image: url(/assets/sky-station-1.jpg);
		background-size: cover;
		background-position: center center;
		padding-top:5%;padding-bottom:5%;
		margin-bottom: 0px;
	}
	.navbar{
		margin-top: 0px;
	}
	.navbar-default {
		background-color: #fcfcfc;
		border-color:white;
	}
	.dropdown-menu {
		border:none;
	}
</style>

<div class="jumbotron bg-1">
	<h1>&nbsp; Sky Station&nbsp;<small>blogs of mikiya.memoria</small></h1>
</div>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header"><a href="{{ site.url }}" class="navbar-brand">home</a></div>
		<ul class="nav navbar-nav">
			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Blogs <span class="caret"></span></a>
		        <ul class="dropdown-menu">
					{% for post in site.posts %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
		        </ul>
      		</li>
			<li><a href="#">Laboratory</a></li>
			<li><a href="/about_me.html">About me</a></li>
		</ul>
		<a href="/rss.xml" class="btn btn-danger navbar-btn">rss</a>
	</div>
</nav>